In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
weather_data = "Resources/Weather_Data.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
weather_data_df = pd.read_csv(weather_data, encoding="ISO-8859-1")

In [4]:
# Show just the header
weather_data_df.head()

,Lat,Lng,City,Country,Temperature,Humidity,Clouds,Windspeed,Latitude,Longitude
0,45.741412,87.186359,changji,cn,68.57,92,7,3.78,32.07,116.17
1,23.053245,166.387189,butaritari,ki,85.68,62,100,10.56,3.07,172.79
2,-71.851613,109.612264,albany,au,55.40,93,90,5.82,-35.02,117.88
3,1.975330,-63.510137,santa isabel do rio negro,br,82.64,74,84,4.03,17.49,120.43
4,-13.931427,-77.595177,pisco,pe,67.75,30,0,18.34,-13.71,-76.20

In [8]:
# Reorganizing the columns using double brackets
organized_df = weather_data_df[["City","Country","Temperature","Humidity", "Clouds", "Windspeed", "Latitude", "Longitude"]]
organized_df.head()

,City,Country,Temperature,Humidity,Clouds,Windspeed,Latitude,Longitude
0,changji,cn,68.57,92,7,3.78,32.07,116.17
1,butaritari,ki,85.68,62,100,10.56,3.07,172.79
2,albany,au,55.40,93,90,5.82,-35.02,117.88
3,santa isabel do rio negro,br,82.64,74,84,4.03,17.49,120.43
4,pisco,pe,67.75,30,0,18.34,-13.71,-76.20

In [9]:
# convert file to html
organized_df.to_html('Weather_Data_PD.html')